

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  background-color: #282c34;
  padding: 10px 50px;
  position:relative;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: space-between;
  justify-content: flex-end;
  
}
li a{
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: teal;
}

